/* 
    Created on : Sep 13, 2014, 3:28:52 PM
    Author     : 5um17
*/

.wpes-meta-keys-wrapper { columns: auto 3; -moz-columns: auto 3; -webkit-columns: auto 3; }
.form-table .wpes-meta-keys-wrapper p { margin: 0; }