/*
    CPT and admin page CSS 
    Author     : 5um17
*/

.wpes-meta-keys-wrapper{columns:auto 3;-moz-columns:auto 3;-webkit-columns:auto 3}
.form-table .wpes-meta-keys-wrapper p{margin:0}
.wpes-params dt{font-family:Consolas,Monaco,monospace;font-weight:700}
.wpes-params p{margin:0}
.wpes-params dd{margin-bottom:12px}
#wpes-cpt-info .inside h2{font-size:18px;padding:9px 0 4px}
#wpes-cpt-info td{position:relative}
.wpes-display-input{min-width:100%;resize:none;font-family:Consolas,Monaco,monospace}
.wpes-copied{font-size:11px;background:#00a100;color:#fff;font-weight:600;padding:2px 4px;position:absolute;top:22px;right:15px}
#wpes-cpt-configure-setting .button{width:100%;text-align:center}
.wpes-custom-templates-help .description {font-size: 1.08em;}
.wp-es-notice {padding: 0 10px;font-size: 1.08em; border: 1px solid #ccc; border-left: 5px solid #cccc2e;box-shadow: 0 1px 1px rgba(0,0,0,.04);}